<h1><%= prato.name %></h1>
<img src="/images/pratos/<%= prato.image %>" alt="<%= prato.name %>" width="300">
<p><strong>Categoria:</strong> <%= prato.category %></p>
<p><strong>Descrição:</strong> <%= prato.description %></p>
<p><strong>Nutrição:</strong> <%= prato.nutrition %></p>
<p><strong>Preço:</strong> €<%= prato.price %></p>
